---
import BaseLayout from '../layouts/BaseLayout.astro'
import LargePackageForm from '../components/LargePackageForm'
import RecentSearches from '../components/RecentSearches.astro'
---

<BaseLayout>
  <div class="max-w-3xl mx-auto">
    <section class="pt-20">
      <h2 class="max-w-xl font-bold text-4xl sm:text-6xl tracking-tight">
        TypeScript API docs <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-zinc-400 to-white"
          >on demand</span
        >
      </h2>
      <div class="pt-10">
        <LargePackageForm client:load />
      </div>
    </section>
    <section class="pt-20">
      <RecentSearches />
    </section>
  </div>
</BaseLayout>
