---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <section class="py-20 min-h-[calc(100vh-7rem)]">
    <h2 class="font-bold text-4xl sm:text-6xl leading-[1.1] sm:leading-[1.25]">
      <span class="text-zinc-50">500 - Oops! Something went wrong</span>
    </h2>
    <p>
      Are you sure the package name was correct? If not , please try again :)
    </p>
  </section>
</BaseLayout>
