---
import { createClient } from '@vercel/kv'

const { KV_REST_API_URL, KV_REST_API_TOKEN } = import.meta.env

const kv = createClient({
  url: KV_REST_API_URL,
  token: KV_REST_API_TOKEN,
})

const placeholderRecents = [
  '@barelyhuman/tocolor@next',
  'pinecone-cli',
  '@rose-pine/build',
]

const recents = (await kv.get('recents')) || placeholderRecents
---

<h2 class="font-semibold text-xl tracking-tight">Recent searches</h2>

<div class="mt-6 relative">
  <div
    aria-hidden="true"
    class="pointer-events-none absolute bottom-0 bg-gradient-to-b from-zinc-950/0 via-zinc-950/30 to-zinc-950 inset-x-0 h-10"
  >
  </div>

  <ul class="gap-3 flex items-center flex-wrap">
    {
      recents.map(recent => (
        <li>
          <a
            href={`/pkg/${recent}`}
            class="rounded-md inline-flex p-3 bg-zinc-900 font-mono"
          >
            {recent}
          </a>
        </li>
      ))
    }
  </ul>
</div>
