---
import { recents as recentCache } from '../lib/recent'
import Button from '../components/Button'

let recents = []
try {
  recents = recentCache.get()
} catch (e) {}
---

{
  recents.length ? (
    <>
      <h2 class="font-semibold text-xl tracking-tight">Recent searches</h2>

      <div class="mt-6 relative">
        <div
          aria-hidden="true"
          class="pointer-events-none absolute bottom-0 bg-gradient-to-b from-zinc-950/0 via-zinc-950/30 to-zinc-950 inset-x-0 h-10"
        ></div>

        <ul class="gap-3 flex items-center flex-wrap">
          {recents.map(recent => (
            <li>
              <Button href={`/pkg/${recent}`} variant="secondary">
                {recent}
              </Button>
            </li>
          ))}
        </ul>
      </div>
    </>
  ) : (
    ''
  )
}
