---
import PackageSearchForm from '../components/PackageForm'

const url = Astro.url.pathname
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      import '../scripts/router.js'
    </script>
  </head>
  <body>
    <div class="px-6">
      <header
        class={`max-w-shell mx-auto grid ${
          url !== '/'
            ? 'grid-rows-[5rem,3rem]'
            : 'grid-rows-[5rem] grid-cols-[auto,1fr]'
        } sm:grid-rows-[5rem] sm:grid-cols-[auto,1fr] items-center gap-6`}
      >
        <div>
          <a href="/" class="font-mono text-xl font-bold text-zinc-50">
            <span class="text-zinc-400">&lt;type&gt;</span>api
          </a>
        </div>
        {
          url !== '/' ? (
            <div class="w-full sm:max-w-[300px] justify-self-center sm:justify-self-end">
              <PackageSearchForm client:load />
            </div>
          ) : (
            <div class="justify-self-end">
              <a
                href="https://github.com/barelyhuman/typeapi"
                class="flex items-center gap-1.5 rounded px-1 py-0.5 text-sm font-medium text-zinc-400 transition hover:bg-zinc-900 hover:text-zinc-50"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 1024 1024"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="0"
                >
                  <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z" />
                </svg>
                Star us on GitHub
              </a>
            </div>
          )
        }
      </header>
    </div>

    <main
      class="p-6 mx-auto min-h-[calc(100vh-8rem-5rem)] sm:min-h-[calc(100vh-5rem-5rem)]"
    >
      <slot />
    </main>

    <div class="px-6">
      <footer class="max-w-shell mx-auto flex items-center h-20">
        <p>
          Made with fear by <a
            href="https://github.com/barelyhuman"
            class="underline-offset-2 underline">reaper</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>

<style is:global>
  :root {
    --zinc-950: 0 0% 98%;
    --zinc-900: 240 4.8% 95.9%;
    --zinc-800: 240 5.9% 90%;
    --zinc-700: 240 4.9% 83.9%;
    --zinc-600: 240 5% 64.9%;
    --zinc-500: 240 3.8% 46.1%;
    --zinc-400: 240 5.2% 33.9%;
    --zinc-300: 240 5.3% 26.1%;
    --zinc-200: 240 3.7% 15.9%;
    --zinc-100: 240 5.9% 10%;
    --zinc-50: 240 10% 4%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --zinc-50: 0 0% 98%;
      --zinc-100: 240 4.8% 95.9%;
      --zinc-200: 240 5.9% 90%;
      --zinc-300: 240 4.9% 83.9%;
      --zinc-400: 240 5% 64.9%;
      --zinc-500: 240 3.8% 46.1%;
      --zinc-600: 240 5.2% 33.9%;
      --zinc-700: 240 5.3% 26.1%;
      --zinc-800: 240 3.7% 15.9%;
      --zinc-900: 240 5.9% 10%;
      --zinc-950: 240 10% 4%;
    }
  }

  .turbo-progress-bar {
    @apply h-1 bg-zinc-50;
  }

  html,
  body {
    @apply antialiased bg-zinc-950 text-zinc-400;
  }
</style>
